body {
  background: #1b0102!important;
}

@font-face {
    font-family: TheMix4SemiLightItalic;
    src: url('../fonts/TheMix4SemiLightItalic.otf');
}

@font-face {
    font-family: TheMixSemiBoldItalic;
    src: url('../fonts/TheMixSemiBoldItalic.otf');
}

@font-face {
    font-family: TheMixSemiLight;
    src: url('../fonts/TheMixSemiLight.otf');
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}


@media (min-width: 1200px) {
  .box-meio{
    background-image: url("../img/bg_box.jpg");
    background-position: left top;
  }
}

.box-meio{
  font-style: italic;
  padding-left: 59px;
  padding-right: 59px;
  font-size: 18px;
  color: white;
  font-family: 'TheMixSemiBoldItalic';
}

.txt{
  font-family: 'TheMix4SemiLightItalic';
}

.amarelo{
  color: #f7da6e;
}
